<div class="main-container">
    <h1>Тут є вино</h1>

    <section class="wine">
        {{#each wine}}
        <div class="wine__item">
            <a href="/wine/{{id}}" class="wine__link">

                <img src="{{image}}" alt="{{name}}" height="560" class="wine__image">

                <h2 class="wine__name">{{name}}</h2>
            </a>

        </div>
        {{/each}}
    </section>

</div>