<div class="main-container">
    <h1>Тут є вино</h1>

    <section>
        {{#each wine}}
        <div>
            <a href="/wine/{{id}}">
                <h2>{{name}}</h2>
                <img src="{{image}}" alt="{{name}}" height="640">
            </a>

        </div>
        {{/each}}
    </section>

</div>